<hr/>
<hr/>
<div class="col-md-16">	       
    <fieldset>    
    <legend  class="navbar-brand titre"  > Ajouter un sprint</legend>
    <form [formGroup]="exform" #getSprintForm="ngForm" (ngSubmit)="onSubmit(getSprintForm)">
    <div class="form-group">
      <label class="col-md-2 control-label" >Nom de Sprint :</label>  
      <div class="col-md-4">
      <input id="sprint-name" formControlName="nom"  [(ngModel)]="sprint.nomSprint" name="sprint-name" type="text" placeholder="tapez le nom du sprint" class="form-control input-md" >
      <small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="textdanger">Nom sprint est obligatoire</small>
      <span class="help-block"></span>  
      </div>
      <label class="col-md-2 control-label">Etat du sprint :</label>
      <div class="col-md-4">
        <select required formControlName="etat"
         type="text" 
         class="form-control "
          id="field_sprint"
            name="sprintEtat" [(ngModel)]="sprint.etatSprint"
            (change)="onChangeEtat($event.target.selectedIndex)">
          <option *ngFor='let etat of etatArray'> {{etat}} </option>
        </select>
        <small *ngIf="exform.get('etat').invalid && exform.get('etat').touched" class="textdanger">Sélectionner une état</small>
        <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date début Sprint :</label>  
        <div class="col-md-4">
          <input  formControlName="dateDebut"
          name="sprint-date-debut"
          placeholder = "Selectionner la date début"
          [(ngModel)]="sprint.dateDebut"
          autocomplete="off" 
          class="form-control"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          <small *ngIf="exform.get('dateDebut').invalid && exform.get('dateDebut').touched" class="textdanger">Date début Sprint est obligatoire</small>
        <span class="help-block"></span>  
        </div>  
        <label class="col-md-2 control-label">Date fin sprint :</label>  
        <div class="col-md-4">
          <input  formControlName="dateFin"
          name="sprint-date-fin"
          placeholder = "Selectionner la date fin"
          [(ngModel)]="sprint.dateFin"
          autocomplete="off" 
          class="form-control"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          <small *ngIf="exform.get('dateFin').invalid && exform.get('dateFin').touched" class="textdanger">Date fin sprint est obligatoire</small>
        <span class="help-block"></span>  
        </div>  
      </div>
      <label class="col-md-2 control-label" >Description  :</label>  
      <div class="col-md-4">
        <textarea formControlName="description" id="sprint-description"required [(ngModel)]="sprint.descriptionSprint" name="sprint-description" type="text" placeholder="tapez une description pour ce sprint ..." class="form-control input-md"></textarea>
        <small *ngIf="exform.get('description').invalid && exform.get('description').touched" class="textdanger">Description est obligatoire</small>
        <span class="help-block"></span>  
      </div>
      <label class="col-md-2 control-label">Projet :</label>
      <div class="col-md-4">
        <select required formControlName="projet"
         type="text" 
         class="form-control "
          id="field_projet"
            name="projet" [(ngModel)]="selectedProjetId"
            (change)="onChange($event)">
          <option  *ngFor="let p of projetArray" [value]="p.idProjet">
            {{p.nomProjet}}
          </option>
        </select>
        <small *ngIf="exform.get('projet').invalid && exform.get('projet').touched" class="textdanger">Sélectionner un projet</small>
        <p class="help-block"></p>
        </div>
        <hr>    
        <div  class="form-group">
          <label class="col-md-4 control-label" for="btn-save"></label>
          <div class="col-md-1">
            <button id="btn-retour" name="btn-retour" (click)="gotoList()" class="btn btn-success">Retour</button>
          </div>
      
          <div class="col-md-0">
            <button id="btn-save" [disabled]="exform.invalid" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
           </div>
      </div>
    </form>
    </fieldset>
   </div> 
   <simple-notifications></simple-notifications>
