<div class="container">	       
 <fieldset>
   <legend  class="navbar-brand titre"  >Ajouter un commentaire</legend>
    <form #commentaireForm="ngForm" [formGroup]="exform" (ngSubmit)="onSubmit(commentaireForm)">
     <div class="form-group">
       <div class="col col-md-8">
         <textarea id="comment-name" formControlName="commantaire" rows="3" cols="25" required [(ngModel)]="commantaire.libelleCommentaire" name="libcmt-name" type="text" placeholder="écrire ici ....." class="form-control input-md"></textarea>
          <small *ngIf="exform.get('commantaire').invalid && exform.get('commantaire').touched" class="textdanger">Commentaire est vide</small>
           <span class="help-block"></span>  
        </div>
       <div class="col col-md-2">
              <button id="btn-save" [disabled]="exform.invalid" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
      </div>
     </div>
    </form>
  </fieldset>
</div> 
<simple-notifications></simple-notifications>
