<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  >Changer les informations</legend>
<form (ngSubmit)="onSubmit()">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >User storie :</label>  
  <div class="col-md-12">
  <input id="sprint-name" required [(ngModel)]="userstory.libelleUserStory" name="userstory-name" type="text" placeholder="En tant que...... je veux ....." class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Priorité :</label>
  <div class="col-md-4">
    <input id="userstory-name" required [(ngModel)]="userstory.priorite" name="priorite-name" type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
    <p class="help-block"></p>
    </div>
  <label class="col-md-2 control-label" >Complexité  :</label>  
  <div class="col-md-4">
    <input id="complexite-name" required [(ngModel)]="userstory.complexite" name="complexite-name" type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" >Backlog Produit de projet :</label>  
  <div class="col-md-12">
    <input id="sprintuser-name" required [(ngModel)]="userstory.sprint.projet.nomProjet"disabled="disabled" name="sprintuser-name" type="text" placeholder="" class="form-control input-md" >
    <span class="help-block"></span>  
  </div>
</div>

  
<!-- Button -->
<label class="col-md-2 control-label" for="btn-save"></label>
<div class="col col-lg-2">
    <button id="btn-save" name="btn-save" (click)="sprintDetails(userstory.sprint.idSprint)" class="btn btn-success">Retour au detail Sprint</button>
    </div>
<div class="form-group">
    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
        <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des userstorys </button>
    </div>
</div>
	    


