<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  >Changer les informations</legend>
<form [formGroup]="exform" (ngSubmit)="onSubmit()">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >User storie :</label>  
  <div class="col-md-12">
  <input id="us-name" formControlName="userStory"  [(ngModel)]="userstory.libelleUserStory"  type="text" placeholder="En tant que...... je veux ....." class="form-control input-md" >
  <small *ngIf="exform.get('userStory').invalid && exform.get('userStory').touched" class="textdanger">User storie est obligatoire</small>
  <span class="help-block"></span>  
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Priorité :</label>
  <div class="col-md-4">
    <input id="priorite-name" formControlName="priorite"  [(ngModel)]="userstory.priorite" type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
    <small *ngIf="exform.get('priorite').errors?.required && exform.get('priorite').touched" class="textdanger">Sélectionner la  priorité</small>
    <small *ngIf="exform.get('priorite').errors?.pattern && exform.get('priorite').touched" class="textdanger">La valeur entre 1 et 4</small>
    <p class="help-block"></p>
    </div>
  <label class="col-md-2 control-label" >Complexité  :</label>  
  <div class="col-md-4">
    <input id="complexite-name" formControlName="complexite"  [(ngModel)]="userstory.complexite"  type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
    <small *ngIf="exform.get('complexite').errors?.required && exform.get('complexite').touched" class="textdanger">Sélectionner taux de complexité</small>
    <small *ngIf="exform.get('complexite').errors?.pattern && exform.get('complexite').touched" class="textdanger">La valeur doit appartient à la suite fibonacci</small>

    <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" >Backlog Produit de projet :</label>  
  <div class="col-md-12">
    <input id="sprintuser-name" formControlName="nomProjet"   [(ngModel)]="userstory.sprint.projet.nomProjet"disabled="disabled"  type="text" placeholder="" class="form-control input-md" >
    <small *ngIf="exform.get('nomProjet').errors?.required && exform.get('nomProjet').touched" class="textdanger">Sélectionner taux de complexité</small>

    <span class="help-block"></span>  
  </div>
</div>

  
<!-- Button -->
<div  class="form-group">
  <label class="col-md-5 control-label" for="btn-save"></label>
  <div class="col-md-1">
    <button id="btn-retour" name="btn-retour" (click)="gotoList()" class="btn btn-success">Retour</button>
  </div>

  <div class="col-md-0">
    <button id="btn-save" name="btn-save" [disabled]="exform.invalid" type="submit" class="btn btn-success">Modifier</button>
   </div>
</div>
</form>
</fieldset>
     </div> 
     <simple-notifications></simple-notifications>


