<hr/>
<hr/>
 <div class="container">	  
 <form  [formGroup]="exform" #reunionForm="ngForm" (ngSubmit)="onSubmit(reunionForm)" >
<legend  class="navbar-brand titre"  > Gestion des reunions </legend>
<div class="row">
  <label class="col-md-2 control-label">Type réunion :</label>
  <div class="col-md-4">
    <select formControlName="type" 
     type="text" 
     class="form-control "
      id="field_reunion"
        name="reunion" [(ngModel)]="reunion.type"
        (change)="onChange($event)">
      <option *ngFor="let type of TypeReunion.values();" [value]="type" >
        {{type}}
      </option>
    </select>
    <small *ngIf="exform.get('type').invalid && exform.get('type').touched" class="textdanger">Sélectionner un type de réunion</small>
    <p class="help-block"></p>
    </div>
    <div class="col col-md-2">
  <label class="control-label" >Nom de réunion :</label> 
    </div>
  <div class="col-md-4">
  <input id="reunion-name" formControlName="nom" [(ngModel)]="reunion.nomReunion" name="reunion-name" type="text" placeholder="tapez le nom du reunion" class="form-control input-md" >
  <small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="textdanger">Nom de réunion est obligatoire</small>
  <span class="help-block"></span>  
  </div>
</div>
<div class="row">
  <div class="col col-md-2">
  <label class=" control-label">Contexte du réunion :</label>
</div>
  <div class="col-md-4">
    <textarea id="reunion-description" rows="2" cols="12" formControlName="contexte" [(ngModel)]="reunion.descriptionReunion" name="reunion-description" type="text" placeholder="tapez une description pour cette réunion ..." class="form-control input-md"></textarea>
    <small *ngIf="exform.get('contexte').invalid && exform.get('contexte').touched" class="textdanger">Contexte de réunion est obligatoire</small>
    <p class="help-block"></p>
    </div>
    <div class="col col-md-2">
  <label class="control-label">Date début réunion :</label>  
    </div>
    <div class="col-md-4">
      <input  formControlName="dateDebut" autocomplete="off" 
      name="reunion-date-debut"
      placeholder = "Selectionner la date début"
      [(ngModel)]="reunion.dateDebut"
      class="form-control"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      <small *ngIf="exform.get('dateDebut').invalid && exform.get('dateDebut').touched" class="textdanger">Date début de réunion est obligatoire</small>
    <span class="help-block"></span>  
    </div>  
</div>
<div class="row">
  <div class="col col-md-6">
    </div>
  <div class="col col-md-2">
    <label class="control-label">Date fin réunion :</label>
  </div>  
    <div class="col-md-4">
      <input  formControlName="dateFin" autocomplete="off"
      name="reunion-date-fin"
      placeholder = "Selectionner la date fin"
      [(ngModel)]="reunion.dateFin"
      class="form-control"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      <small *ngIf="exform.get('dateFin').invalid && exform.get('dateFin').touched" class="textdanger">Date fin de réunion est obligatoire</small>
    <span class="help-block"></span>  
    </div>  
  </div>
  <div class="row">
    <div class="col col-md-2">
      <label class="control-label">Heure début :</label> 
    </div>
    <div class="col-md-4">
      <ngb-timepicker [formControl]="ctrl1" [(ngModel)]="reunion.heureDeb"></ngb-timepicker>
      <div *ngIf="ctrl1.valid" class="small form-text text-success">Bon choix</div>
      <div *ngIf="ctrl1.errors" class="small form-text textdanger">
        <div *ngIf="ctrl1.errors['required']">Sélectionnez l'heure début</div>
        <div *ngIf="ctrl1.errors['tooLate']">C'est un peu trop tard</div>
        <div *ngIf="ctrl1.errors['tooEarly']">C'est un peu trop tôt</div>
      </div>
     </div>
     <div class="col col-md-2">
      <label class="control-label">Heure fin :</label> 
      </div>
     <div class="col col-md-4">
      <ngb-timepicker [formControl]="ctrl2" [(ngModel)]="reunion.heureFin" ></ngb-timepicker>
      <div *ngIf="ctrl2.valid" class="small form-text text-success">Bon choix</div>
      <div *ngIf="ctrl2.errors" class="small form-text textdanger">
        <div *ngIf="ctrl2.errors['required']">Sélectionnez l'heure fin</div>
        <div *ngIf="ctrl2.errors['tooLate']">C'est un peu trop tard</div>
        <div *ngIf="ctrl2.errors['probleme']">Verifier l'heure fin de reunion  </div>
      </div>
     </div>
  </div>
  <div class="row" *ngIf="reunion.type=='Reunion_Scrum'">
    <div class="col col-md-2">
  <label class="control-label">Equipe :</label>
    </div>
  <div class="col-md-4">
    <select  
     type="text"     [ngModelOptions]="{standalone: true}" 
     class="form-control "
      id="field_equipe"
        name="equipe" [(ngModel)]="selectedEquipeId"
        (change)="onChange1($event)">
      <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
        {{e.nomEquipe}}
      </option>
    </select>
    <p class="help-block"></p>
    </div>
    </div>
    <div class="row" *ngIf="reunion.type == 'Reunion_Administratif'">
      <div class="col col-md-2">
    <label class="control-label">Departement :</label>
      </div>
    <div class="col-md-4">
      <select [ngModelOptions]="{standalone: true}" 
      type="text" 
      class="form-control "
       id="field_departement"
       name="departement" [(ngModel)]="selectedDepartementId" 
       (change)="onChange2($event)">
       <option  *ngFor="let d of departementArray" [value]="d.idDepartement">
         {{d.nomDepartement}}
       </option>
     </select>
     <p class="help-block"></p>
     </div>
     </div>
      <div class="row">
        <div class="col-md-4">

       <button id="btn-retour"  (click)="gotoList()" [disabled]="loading"  name="btn-retour" class="btn btn-success">Retour au liste des réunions</button>
        </div>
        <div class="col col-lg-2 pull-right">
          <button mat-raised-button  [class.spinner]="loading" [disabled]="(exform.invalid ||
          ctrl1.errors || ctrl2.errors || loading || (reunion.type=='Reunion_Scrum' && reunion.equipe==null) ||
          (reunion.type=='Reunion_Administratif' && reunion.employes.length==1))" type="submit"
           class="btn btn-success">Enregistrer</button>
    </div>
      </div>
  </form>
     <div *ngIf="reunion.type=='Reunion_Administratif'">
      <legend id="leg1" class="navbar-brand titre">Liste des employés de département </legend>
<table id="tab1"  class="table table-bordered table-condensed table-hover">
  <thead>
      <tr>
          <th scope="col" width=20%>Nom</th>
          <th scope="col" width=20%>Prenom</th>
          <th scope="col" width=20%>Email</th>
          <th scope="col" width=20%>Status</th>
          <th scope="col" width=20%>Actions</th>
      </tr>        
  </thead>
  <tbody id="form-list-employes-body"  *ngFor="let item of employesdep">
      <tr>
          <td>{{item.nomEmploye}}</td>
          <td>{{item.prenomEmploye}}</td>
          <td>{{item.email}}</td>
          <td>{{item.active}}</td> 
          <td>     
     <input type="checkbox"  [(ngModel)]="item.isChecked"  (change)="changeSelection()">    
          </td>
      </tr>
  </tbody>
</table>
</div>
<simple-notifications></simple-notifications>


   




