<hr/>
<hr/>

<!-- FORM  -->	    
	   <div class="container">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des reunions </legend>
<form #getReunionForm="ngForm" (ngSubmit)="onSubmit(getReunionForm)">
<!-- Text input-->
<div class="row">
  <label class="col-md-2 control-label">Type réunion :</label>
  <div class="col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_reunion"
        name="reunion" [(ngModel)]="selectedReunionId"
        (change)="onChange($event)">
      <option  *ngFor="let t of typeArray" >
        {{t}}
      </option>
    </select>
    <p class="help-block"></p>
    </div>
    <div class="col col-md-2">
  <label class="control-label" >Nom de réunion :</label> 
    </div>
  <div class="col-md-4">
  <input id="reunion-name" required [(ngModel)]="reunion.nomReunion" name="reunion-name" type="text" placeholder="tapez le nom du reunion" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
</div>




<div class="row">
  <div class="col col-md-2">
  <label class=" control-label">Contexte du réunion :</label>
</div>

  <div class="col-md-4">
    <textarea id="reunion-description" rows="2" cols="12" required [(ngModel)]="reunion.descriptionReunion" name="reunion-description" type="text" placeholder="tapez une description pour cette réunion ..." class="form-control input-md"></textarea>

    <p class="help-block"></p>
    </div>
    <div class="col col-md-2">
  <label class="control-label">Date début réunion :</label>  
    </div>
    <div class="col-md-4">
      <input  
      name="reunion-date-debut"
      placeholder = "Selectionner la date début"
      [(ngModel)]="reunion.dateDebut"
      class="form-control"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
   
    <span class="help-block"></span>  
    </div>  
</div>


<div class="row">
 
  <div class="col col-md-6">
    
    </div>
    
  <div class="col col-md-2">
    <label class="control-label">Date fin réunion :</label>
  </div>  
    <div class="col-md-4">
      <input  
      name="reunion-date-fin"
      placeholder = "Selectionner la date fin"
      [(ngModel)]="reunion.dateFin"
      class="form-control"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
   
    <span class="help-block"></span>  
    </div>  
  </div>


  <div class="row">
    <div class="col col-md-2">
      <label class="control-label">Heure début :</label> 
    </div>
      
    <div class="col-md-4">
      <ngb-timepicker [formControl]="ctrl1" [(ngModel)]="time1" required></ngb-timepicker>
      <div *ngIf="ctrl1.valid" class="small form-text text-success">Bon choix</div>
      <div *ngIf="ctrl1.errors" class="small form-text text-danger">
        <div *ngIf="ctrl1.errors['required']">Sélectionnez l'heure début</div>
        <div *ngIf="ctrl1.errors['tooLate']">C'est un peu trop tard</div>
        <div *ngIf="ctrl1.errors['tooEarly']">C'est un peu trop tôt</div>
      </div>
     </div>
     <div class="col col-md-2">
      <label class="control-label">Heure fin :</label> 
      </div>
      
     <div class="col col-md-4">
      <ngb-timepicker [formControl]="ctrl2" [(ngModel)]="time2" required></ngb-timepicker>
      <div *ngIf="ctrl2.valid" class="small form-text text-success">Bon choix</div>
      <div *ngIf="ctrl2.errors" class="small form-text text-danger">
        <div *ngIf="ctrl2.errors['required']">Sélectionnez l'heure début</div>
        <div *ngIf="ctrl2.errors['tooLate']">C'est un peu trop tard</div>
        <div *ngIf="ctrl2.errors['probleme']">Verifier l'heure fin de reunion  </div>
      </div>
     </div>
  </div>
<!--<div class="form-group">
  <ngb-timepicker [formControl]="ctrl" required></ngb-timepicker>
  <div *ngIf="ctrl.valid" class="small form-text text-success">Bon choix</div>
  <div *ngIf="ctrl.errors" class="small form-text text-danger">
    <div *ngIf="ctrl.errors['required']">Sélectionnez l'heure </div>
    <div *ngIf="ctrl.errors['tooLate']">C'est un peu trop tard</div>
    <div *ngIf="ctrl.errors['tooEarly']">C'est un peu trop tôt
    </div>
  </div>
</div>
-->

  
    
    <hr>
<!-- Button -->

    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
     <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
    </div>
</form>
</fieldset>
     </div> 
     






     
     
     

