
<div class="container">	       
    <fieldset>
    <legend  class="navbar-brand titre"  >Modifier un commentaire</legend>
    <form #commentaireForm="ngForm" [formGroup]="exform" (ngSubmit)="onSubmit(commentaireForm)">
    <div class="row">
      <div class="col col-md-8">
        <textarea id="comment-name"  rows="3" cols="25" formControlName="commantaire" required [(ngModel)]="commantaire.libelleCommentaire" name="libcmt-name" type="text" placeholder="écrire ici ....." class="form-control input-md"></textarea>
        <small *ngIf="exform.get('commantaire').invalid && exform.get('commantaire').touched" class="textdanger">Commentaire est vide</small>
        <span class="help-block"></span>  
      </div>
      <div class="col col-md-2">
        <button id="btn-save" name="btn-save"  [disabled]="exform.invalid"  type="submit" class="btn btn-success">Enregistrer</button>
       </div>
       <div class="col col-md-12">
        <button  color="secondary" name="btn-save"  class="btn btn-success">Fermer</button>
       </div>
    </div>
    </form>
    </fieldset> 
    </div> 
    <div>
     
      