
<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des equipes</legend>
<form #getequipeForm="ngForm" [formGroup]="exform" (ngSubmit)="onSubmit(getequipeForm)">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" >Nom d'equipe:</label>  
  <div class="col-md-4">
  <input id="equipe-name" formControlName="nom" [(ngModel)]="equipe.nomEquipe" name="equipe-name" type="text" placeholder="tapez le nom d'equipe" class="form-control input-md" >
  <small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="textdanger">Nom d'équipe est obligatoire</small>
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Spécialité :</label>  
  <div class="col-md-4">
  <input id="equipe-theme" formControlName="specialite" [(ngModel)]="equipe.specialite" name="equipe-specialite" type="text" placeholder="tapez la spécialité du projet" class="form-control input-md">
  <small *ngIf="exform.get('specialite').invalid && exform.get('specialite').touched" class="textdanger">Spécialité d'équipe est obligatoire</small>

  <span class="help-block"></span>  
  </div>
</div>



<div class="row">
    <div class="col align-self-start">
      <label class="col-md-5.5 control-label" for="btn-save"></label>
    </div>
    <div class="col align-self-center">
      <label class="col-md-5 control-label" for="btn-save"></label>
    </div>
    
    <div class="col col-md-1">
      <button id="btn-save" name="btn-save" [disabled]="exform.invalid" type="submit" class="btn btn-success">Enregistrer</button>
    </div>
  </div>
    
</form>
</fieldset>



	   </div> 
	    



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-equipe" >
            <legend class="navbar-brand titre">Liste des equipes :</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width=30%>Nom</th>
                <th scope="col" width=30%>Specialité</th>
                
                <th scope="col" width=30%>Actions</th>
            </tr>
                
        </thead>
        <ng-container *ngFor="let equipe of equipes | async">
        <tbody id="form-list-projets-body" *ngIf="equipe.nomEquipe!='Équipe non affectée'" >
            <tr>
                <td>{{equipe.nomEquipe}}</td>
                <td>{{equipe.specialite}}</td>
               
                <td>
                  
                    <a   title="les détails d'equipe" class="btn btn-default btn-sm "(click)="EquipeDetails(equipe.idEquipe)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a  title="modifier l'equipe" class="btn btn-default btn-sm "(click)="updateEquipe(equipe.idEquipe)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a  title="supprimer l'equipe " class="btn btn-default btn-sm " (click)="deleteEquipe(equipe.idEquipe)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
      </ng-container>
    </table>
    </form>

    
</div>


<br> 
<simple-notifications></simple-notifications>

