<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations du sprint</legend>
<hr/>
<div >
        <div>
            <b>Nom sprint  :</b><label>{{sprint.nomSprint}}</label>
        </div>
        <div>
            <b>Date debut  :</b><label>{{sprint.dateDebut}}</label>
        </div>
        <div>
            <b>Date fin  :</b><label>{{sprint.dateFin}}</label>
        </div>

        <div>
            <b>Description   :</b><label>{{sprint.descriptionSprint}}</label>
        </div>

        
        <div>
            <b>Etat :</b><label>{{sprint.etatSprint}}</label>
        </div>
      
        <div>
            <b>Nom Projet :</b><label>{{sprint.projet.nomProjet}}</label>
        </div>
        <div>
            <b>Nom equipe :</b><label>{{sprint.projet.equipe.nomEquipe}}</label>
        </div>
       
      
<br>
<br>
<!-- Button -->
<label class="col-md-2 control-label" for="btn-save"></label>
<div class="col col-lg-2">
    <button id="btn-save" name="btn-save" (click)="projetDetails(sprint.projet.idProjet)" class="btn btn-success">Retour au detail projet</button>
    </div>
<div class="form-group">
    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
        <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des Sprints</button>
    </div>
</div>
    
    <form id="form-list-userstorySprint" >
            <legend class="navbar-brand titre">Liste des UserStorys du sprint</legend>
    
                
              
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th scope="col"  width=40%>UserStory</th>
                            <th scope="col"  width=5%>Priorite</th>
                            <th scope="col" width=5%>Complexite</th>
                            <th scope="col" width=20%>Projet</th>
                            <th scope="col" width=20%>Sprint</th>
                            <th scope="col" width=10%>Actions</th>
                        </tr>
                            
                    </thead>
                    <tbody id="form-list-projets-body"  *ngFor="let userstory of userstorys | async">
                        <tr>
                            <td>{{userstory.libelleUserStory}}</td>
                            <td>{{userstory.priorite}}</td>
                            <td>{{userstory.complexite}}</td>
                            <td>{{userstory.sprint.projet.nomProjet}}</td>
                            <td>{{userstory.sprint.nomSprint}}</td>
                            <td>
                              
                                <a title="les détails du projet" class="btn btn-default btn-sm "(click)="userstoryDetails(userstory.idUserStory)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                                <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                                <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                                
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
