
<hr/>
<hr/>



<!-- FORM  -->	    
<div class="col-md-16" *ngIf="roleE=='ROLE_DRH'">	       
     
    <fieldset>
    
    <!-- Form Name -->
    
    <legend  class="navbar-brand titre"  >Changer les informations </legend>

    <form #getCompteForm="ngForm"(ngSubmit)="onSubmit(getCompteForm)">
      <div class="row">
        <div class="col col-md-2">
        <label class="control-label" >Nom :</label> 
       </div>
       <div class="col col-md-4">
        <input id="client-name" required [(ngModel)]="employe.nomEmploye" autocomplete="off" name="nomEmploye" type="text" placeholder="tapez le nom de l'employé" class="form-control input-md" >
        <span class="help-block"></span>  
        </div>
        <div class="col col-md-2">
        <label class="control-label" >Prenom :</label>  
      </div>
      <div class="col col-md-4">
        <input id="employe-prenom"required [(ngModel)]="employe.prenomEmploye" autocomplete="off" name="prenomEmploye" type="text" placeholder="tapez le prenom de l'employé" class="form-control input-md">
        <span class="help-block"></span>  
        </div>
      </div>
      
      <div class="row">
        <div class="col col-md-2">
        <label class="control-label" >Date naissance :</label>  
        </div>
        <div class="col col-md-4">
          <input  
          name="dateNaissance"
          placeholder = "Selectionner la date naissance"
          [(ngModel)]="employe.dateNaissance"
          autocomplete="off" 
          class="form-control"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
        <span class="help-block"></span>  
        </div>  
        <div class="col col-md-2">
        <label class="control-label" >Date d'embauche :</label>  
        </div>
        <div class="col col-md-4">
          <input  
          name="dateEmbauche"
          placeholder = "Selectionner la date embauche "
          [(ngModel)]="employe.dateEmbauche"    
          autocomplete="off"
          class="form-control"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
        <span class="help-block"></span>  
        </div>
      </div>
      
      <div class="row">
        <div class="col col-md-2">
        <label class="control-label">Post :</label>  
        </div>
        <div class="col col-md-4">
          <input id="employe-post" required [(ngModel)]="employe.post"  name="post" type="text" placeholder="tapez lepost de l'employe" class="form-control input-md">
        <span class="help-block"></span>  
        </div>
        <div class="col col-md-2">
        <label class="control-label">Role :</label> 
        </div> 
        <div class="col col-md-4">
          <select required
           type="text" 
           class="form-control "
            id="field_role"
              name="role" [(ngModel)]="employe.role.idRole"
              (change)="onChangeRole($event)">
            <option  *ngFor="let r of roleArray" [value]="r.idRole">
              {{r.nomRole}}
            </option>
          </select>
          <p class="help-block">{{role | json}}</p>
      
          </div>
      </div>
      
      <div class="row">
        <div class="col col-md-2">
        <label class="control-label">Matricule :</label>
        </div>
        <div class="col col-md-4">
          <input id="employe-matricule" required [(ngModel)]="employe.matricule"  name="matricule" class="form-control" placeholder="tappez matricule employé" type="double">
          </div>
          <div class="col col-md-2">
        <label class="control-label">Salaire :</label>
          </div>
          <div class="col col-md-4">
            <div class="input-group">
            <span class="input-group-addon">TN</span>
            <input id="employe-salaire"required [(ngModel)]="employe.salaire" autocomplete="off" name="salaire" class="form-control" placeholder="tappez salaire en dinare" type="double">
          </div>
          <p class="help-block"></p>
        </div>
      </div>
      
      <div class="row"> 
         <div class="col col-md-2">
            <label class="control-label">Bureau :</label>
         </div>
         <div class="col col-md-4">
          <select required
           type="text" 
           class="form-control "
            id="field_bureau"
              name="bureau" [(ngModel)]="employe.bureau.idBureau"
              >
            <option  *ngFor="let b of bureauArray" [value]="b.idBureau">
              {{b.nomBureau}}
            </option>
          </select>
          <p class="help-block">{{bureau | json}}</p>
          </div>
          <div class="col col-md-2">
            <label class="control-label">Departement :</label>
          </div>
          <div class="col col-md-4">
            <select required
             type="text" 
             class="form-control "
              id="field_departement"
                name="departement" [(ngModel)]="employe.departement.idDepartement"
                >
              <option  *ngFor="let b of departementArray" [value]="b.idDepartement">
                {{b.nomDepartement}}
              </option>
            </select>
            <p class="help-block">{{departement | json}}</p>
      </div>
      </div>
      
      
      
      
      <div class="row"> 
        <div class="col col-md-2">
        <label class="control-label">Equipe :</label>
        </div>
        <div class="col col-md-4">
          <select required
           type="text" 
           class="form-control "
            id="field_equipe"
              name="equipe" [(ngModel)]="employe.equipe.idEquipe"
            >
            <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
              {{e.nomEquipe}}
            </option>
          </select>
          <p class="help-block">{{equipe | json}}</p>
          </div>
          <div class="col col-md-2">
      
        <label class="control-label">Email :</label>
          </div>
          <div class="col col-md-4">
            <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="employe-email"required [(ngModel)]="employe.email"  name="email" autocomplete="off"class="form-control" placeholder="tonnom@tondomain.tn" type="email">
          </div>
          
        </div>
         
        
      </div>
      
      <!-- Multiple Radios -->
      <div class="row"> 
       
        <div class="col col-md-2">
      
        <label class="control-label">Client status :</label>
        </div>
        <div class="col col-md-4">
          <select required
     type="text" 
     class="form-control "
      id="field_active"
      name="active"
       [(ngModel)]="defaultChoice"
       (change)="onEtatSelected($event)">
       
      <option *ngFor='let etat of etatArray' [value]="etat.idEtat"> {{etat.nomEtat}}</option>
    </select>
    <p class="help-block"></p>
        </div>
        <div class="col col-md-2">
        <label class="control-label">Mot de passe :</label>
        </div>
        <div class="col col-md-4">
          <div class="input-group">
            <span class="input-group-addon">*</span>
            <input   type="password" autocomplete="off" id="employe-password"required [(ngModel)]="employe.password" name="password" autocomplete="off"  class="form-control" placeholder="tapez mot de passe" >
          </div>
        </div>
        <div class="col col-md-2">
        <label class="control-label">Confirmation mot de passe :</label>
        </div>
        <div class="col col-md-4">
          <div class="input-group">
            <span class="input-group-addon"> * </span>
            <input   type="password" id="employe-confirmationpassword" autocomplete="off" name="password" class="form-control" placeholder="confirmez mot de passe" >
          </div>
          
        </div>
      </div>
      
      
      
      
      
       
      <!-- Button -->
      <div class="row">
        
        <div class="col col-md-2">
        <label class="control-label">Photo :</label>
        </div>
        <div class="col col-md-3">
          <input type="file" class="btn btn-success btn-sm"  (change)="OnSelectFile($event)"> 
      </div>
      <div class="col col-md-2 zoom">
        <img class="topright" *ngIf="employe.photo!=null; else logo" [src]="urllink" src="http://localhost:8081/telecite/employes/photo/{{employe.idEmploye}}" name="photo" id="profileDisplay">
        <ng-template #logo>
         <img class="topright"  [src]="urllink" name="photo" id="profileDisplay">

        </ng-template>
      </div>
      <label class="col-md-3 control-label" for="btn-save"></label>
      
          <div class="col-md-2">
           <button id="btn-save" name="btn-save" class="btn btn-success" (click)="updateEmploye(getCompteForm)">Modifier les informations</button>
          </div>
      </div>
</form>
</fieldset>



	   </div> 
	    

     <div class="col-md-16" *ngIf="roleE=='ROLE_SCRUM_MASTER'">	       
     
      <fieldset>
      
      <!-- Form Name -->
      
      <legend  class="navbar-brand titre"  >Changer les informations </legend>
  
      <form #getCompteForm="ngForm"(ngSubmit)="onSubmit(getCompteForm)">
        <div class="row">
          <div class="col col-md-2">
          <label class="control-label" >Nom :</label> 
         </div>
         <div class="col col-md-4">
          <input disabled id="client-name" required [(ngModel)]="employe.nomEmploye" autocomplete="off" name="nomEmploye" type="text" placeholder="tapez le nom de l'employé" class="form-control input-md" >
          <span class="help-block"></span>  
          </div>
          <div class="col col-md-2">
          <label class="control-label" >Prenom :</label>  
        </div>
        <div class="col col-md-4">
          <input disabled id="employe-prenom"required [(ngModel)]="employe.prenomEmploye" autocomplete="off" name="prenomEmploye" type="text" placeholder="tapez le prenom de l'employé" class="form-control input-md">
          <span class="help-block"></span>  
          </div>
        </div>
        
        <div class="row">
          <div class="col col-md-2">
          <label class="control-label" >Date naissance :</label>  
          </div>
          <div class="col col-md-4">
            <input disabled 
            name="dateNaissance"
            placeholder = "Selectionner la date naissance"
            [(ngModel)]="employe.dateNaissance"
            autocomplete="off" 
            class="form-control"
            bsDatepicker
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          <span class="help-block"></span>  
          </div>  
          <div class="col col-md-2">
          <label class="control-label" >Date d'embauche :</label>  
          </div>
          <div class="col col-md-4">
            <input  disabled
            name="dateEmbauche"
            placeholder = "Selectionner la date embauche "
            [(ngModel)]="employe.dateEmbauche"    
            autocomplete="off"
            class="form-control"
             bsDatepicker
             [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
          <span class="help-block"></span>  
          </div>
        </div>
        
        <div class="row">
          <div class="col col-md-2">
          <label class="control-label">Post :</label>  
          </div>
          <div class="col col-md-4">
            <input disabled id="employe-post" required [(ngModel)]="employe.post"  name="post" type="text" placeholder="tapez lepost de l'employe" class="form-control input-md">
          <span class="help-block"></span>  
          </div>
          <div class="col col-md-2">
          <label class="control-label">Role :</label> 
          </div> 
          <div class="col col-md-4">
            <select required disabled
             type="text" 
             class="form-control "
              id="field_role"
                name="role" [(ngModel)]="employe.role.idRole"
                (change)="onChangeRole($event)">
              <option  *ngFor="let r of roleArray" [value]="r.idRole">
                {{r.nomRole}}
              </option>
            </select>
            <p class="help-block">{{role | json}}</p>
        
            </div>
        </div>
        
        <div class="row">
          <div class="col col-md-2">
          <label class="control-label">Matricule :</label>
          </div>
          <div class="col col-md-4">
            <input disabled id="employe-matricule" required [(ngModel)]="employe.matricule"  name="matricule" class="form-control" placeholder="tappez matricule employé" type="double">
            </div>
            <div class="col col-md-2">
          <label class="control-label">Salaire :</label>
            </div>
            <div class="col col-md-4">
              <div class="input-group">
              <span class="input-group-addon">TN</span>
              <input disabled id="employe-salaire"required [(ngModel)]="employe.salaire" autocomplete="off" name="salaire" class="form-control" placeholder="tappez salaire en dinare" type="double">
            </div>
            <p class="help-block"></p>
          </div>
        </div>
        
        <div class="row"> 
           <div class="col col-md-2">
              <label class="control-label">Bureau :</label>
           </div>
           <div class="col col-md-4">
            <select required disabled
             type="text" 
             class="form-control "
              id="field_bureau"
                name="bureau" [(ngModel)]="employe.bureau.idBureau"
                >
              <option  *ngFor="let b of bureauArray" [value]="b.idBureau">
                {{b.nomBureau}}
              </option>
            </select>
            <p class="help-block">{{bureau | json}}</p>
            </div>
            <div class="col col-md-2">
              <label class="control-label">Departement :</label>
            </div>
            <div class="col col-md-4">
              <select required disabled
               type="text" 
               class="form-control "
                id="field_departement"
                  name="departement" [(ngModel)]="employe.departement.idDepartement"
                  >
                <option  *ngFor="let b of departementArray" [value]="b.idDepartement">
                  {{b.nomDepartement}}
                </option>
              </select>
              <p class="help-block">{{departement | json}}</p>
        </div>
        </div>
        
        
        
        
        <div class="row"> 
          <div class="col col-md-2">
          <label class="control-label">Equipe :</label>
          </div>
          <div class="col col-md-4">
            <select required
             type="text" 
             class="form-control "
              id="field_equipe"
                name="equipe" [(ngModel)]="employe.equipe.idEquipe"
              >
              <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
                {{e.nomEquipe}}
              </option>
            </select>
            <p class="help-block">{{equipe | json}}</p>
            </div>
            <div class="col col-md-2">
        
          <label class="control-label">Email :</label>
            </div>
            <div class="col col-md-4">
              <div class="input-group">
              <span class="input-group-addon">@</span>
              <input disabled id="employe-email"required [(ngModel)]="employe.email"  name="email" autocomplete="off"class="form-control" placeholder="tonnom@tondomain.tn" type="email">
            </div>
            
          </div>
           
          
        </div>
        
        <!-- Multiple Radios -->
        <div class="row"> 
         
          <div class="col col-md-2">
        
          <label class="control-label">Client status :</label>
          </div>
          <div class="col col-md-4">
            <select required disabled
       type="text" 
       class="form-control "
        id="field_active"
        name="active"
         [(ngModel)]="defaultChoice"
         (change)="onEtatSelected($event)">
         
        <option *ngFor='let etat of etatArray' [value]="etat.idEtat"> {{etat.nomEtat}}</option>
      </select>
      <p class="help-block"></p>
          </div>
          <div class="col col-md-2">
          <label class="control-label">Mot de passe :</label>
          </div>
          <div class="col col-md-4">
            <div class="input-group">
              <span class="input-group-addon">*</span>
              <input  disabled type="password" autocomplete="off" id="employe-password"required [(ngModel)]="employe.password" name="password" autocomplete="off"  class="form-control" placeholder="tapez mot de passe" >
            </div>
          </div>
          <div class="col col-md-2">
          <label class="control-label">Confirmation mot de passe :</label>
          </div>
          <div class="col col-md-4">
            <div class="input-group">
              <span class="input-group-addon"> * </span>
              <input   disabled type="password" id="employe-confirmationpassword" autocomplete="off" name="password" class="form-control" placeholder="confirmez mot de passe" >
            </div>
            
          </div>
        </div>
        
        
        
        
        
         
        <!-- Button -->
        <div class="row">
          
          <div class="col col-md-2">
          <label class="control-label">Photo :</label>
          </div>
          <div class="col col-md-3">
            <input disabled type="file" class="btn btn-success btn-sm"  (change)="OnSelectFile($event)"> 
        </div>
        <div class="col col-md-2 zoom">
          <img class="topright" *ngIf="employe.photo!=null; else logo" [src]="urllink" src="http://localhost:8081/telecite/employes/photo/{{employe.idEmploye}}" name="photo" id="profileDisplay">
          <ng-template #logo>
           <img class="topright"  [src]="urllink" name="photo" id="profileDisplay">
  
          </ng-template>
        </div>
        <label class="col-md-3 control-label" for="btn-save"></label>
        
            <div class="col-md-2">
             <button id="btn-save" name="btn-save" class="btn btn-success" (click)="updateEmploye(getCompteForm)">Modifier les informations</button>
            </div>
        </div>
  </form>
  </fieldset>
  
  
  
       </div> 
