<hr/>
<hr/>
	   <div class="col-md-12">	          
<fieldset>
<legend  class="navbar-brand titre"  >Changer les informations</legend>
<form (ngSubmit)="onSubmit()"[formGroup]="exform" >
<div class="row">
    <div class="col col-md-2">  
  <label class="control-label">description tache :</label>
  </div>
  <div class="col col-md-8">
      <textarea id="tache-name" formControlName="description"  rows="2" cols="12"  [(ngModel)]="tache.descriptionTache" name="tache-name" type="text" placeholder="En tant que...... je veux .....à fin de .....  ." class="form-control input-md"></textarea>
      <small *ngIf="exform.get('description').errors?.required && exform.get('description').touched" class="textdanger">Description tâche est obligatoire</small>
      <p class="help-block"></p>
      </div>
  </div> 
  <div class="row">
    <div class="col col-md-2">
    <label class=" control-label">Durée tache :</label>
  </div>
  <div class="col col-md-3">
      <input formControlName="dure" id="tache-name" 
       [(ngModel)]="tache.dureeTache" name="duree-name" type="number" placeholder="Nembre des jours." class="form-control input-md" >
      <small *ngIf="exform.get('dure').errors?.required && exform.get('dure').touched" class="textdanger">La durée est obligatoire</small>
    <small *ngIf="exform.get('dure').errors?.pattern && exform.get('dure').touched" class="textdanger">Durée est par nembre de(s) jour(s)/(positif)</small>
      <p class="help-block"></p>
      </div>   
      <div class="col col-md-2">
        <label class=" col col-md-2"></label>
        <label class="control-label" >Etat tache  :</label>  
      </div>
      <div class="col col-md-3">
          <select formControlName="etat"
          type="text" 
          class="form-control"
              [(ngModel)]="tache.etatTache">
           <option *ngFor='let etat of etatArray'> {{etat}} </option>
          </select>
          <small *ngIf="exform.get('etat').invalid && exform.get('etat').touched" class="textdanger">Sélectionner une état</small>   
    </div>
  </div>
  <hr>
  <!-- Button -->
  <label class="col-md-2 control-label" for="btn-save"></label>
<div class="col col-lg-2">
    <button id="btn-save" name="btn-save" (click)="userstoryDetails(tache.userStory.idUserstory)" class="btn btn-success">Retour au detail UserStory</button>
    </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
        <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Modifier et retour au liste des taches </button>
    </div>
</div>
	    
