<hr/>
<hr/>

<legend  class="navbar-brand titre"  > Les informations du réunion </legend>
<hr/>
<div >
        <div>
            <b>Nom Reunion  :</b><label>{{reunion.nomReunion}}</label>
        </div>
        <div>
            <b>Contexte  :</b><label>{{reunion.descriptionReunion}}</label>
        </div>
        <div>
            <b>Date début  :</b><label>{{reunion.dateDebut | date :'shortDate'}}</label>
        </div>

        <div>
            <b>Heure début  :</b><label>{{reunion.heurDeb}}</label>
        </div>

        <div>
            <b>Heure fin  :</b><label>{{reunion.heurFin}}</label>
        </div>
       
        <div>
            <b>Type réunion  :</b><label>{{reunion.type}}</label>
        </div>
        <div *ngIf="reunion.equipe!=null">
            <b>Equipe :</b><label >{{reunion.equipe.nomEquipe}}</label>
        </div>
</div>
<br>
<br>
<!-- Button -->
<div class="form-group">
    <label class="col-md-0 control-label" for="btn-save"></label>
    <div class="col-md-0">
     <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des réunions</button>
    </div>
</div>
<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-sprintsProjet" >
            <legend class="navbar-brand titre">Liste des employes à réunir</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width=15%>Nom </th>
                <th scope="col" width=15%>Preénom</th>
                <th scope="col" width=20%>Email</th>
                <th scope="col" width=15%>Post</th>
                <th scope="col" width=25%>Role</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let emp of employeArray | async">
            <tr>
                <td>{{emp.nomEmploye}}</td>
                <td>{{emp.prenomEmploye}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.post}}</td>
                <td>{{emp.role.nomRole}}</td>
                
                  
                  
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

