
<hr/>
<hr/>
<!-- FORM  -->	    
<div class="container">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des employés</legend>
<form #getCompteForm="ngForm"(ngSubmit)="onSubmit(getCompteForm)">
<!-- Text input-->
<div class="row">
  <div class="col col-md-2">
  <label class="control-label" >Nom :</label> 
 </div>
 <div class="col col-md-4">
  <input id="client-name" required [(ngModel)]="employe.nomEmploye" autocomplete="off" name="nomEmploye" type="text" placeholder="tapez le nom de l'employé" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
  <div class="col col-md-2">
  <label class="control-label" >Prenom :</label>  
</div>
<div class="col col-md-4">
  <input id="employe-prenom"required [(ngModel)]="employe.prenomEmploye" autocomplete="off" name="prenomEmploye" type="text" placeholder="tapez le prenom de l'employé" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>

<div class="row">
  <div class="col col-md-2">
  <label class="control-label" >Date naissance :</label>  
  </div>
  <div class="col col-md-4">
    <input  
    name="dateNaissance"
    placeholder = "Selectionner la date naissance"
    [(ngModel)]="employe.dateNaissance"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
  <span class="help-block"></span>  
  </div>  
  <div class="col col-md-2">
  <label class="control-label" >Date d'embauche :</label>  
  </div>
  <div class="col col-md-4">
    <input  
    name="dateEmbauche"
    placeholder = "Selectionner la date embauche "
    [(ngModel)]="employe.dateEmbauche"    
    autocomplete="off"
    class="form-control"
     bsDatepicker
     [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
  <span class="help-block"></span>  
  </div>
</div>

<div class="row">
  <div class="col col-md-2">
  <label class="control-label">Post :</label>  
  </div>
  <div class="col col-md-4">
    <input id="employe-post" required [(ngModel)]="employe.post"  name="post" type="text" placeholder="tapez lepost de l'employe" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
  <div class="col col-md-2">
  <label class="control-label">Role :</label> 
  </div> 
  <div class="col col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_role"
        name="role" [(ngModel)]="selectedRoleId"
        (change)="onChangeRole($event)">
      <option  *ngFor="let r of roleArray" [value]="r.idRole">
        {{r.nomRole}}
      </option>
    </select>
    <p class="help-block">{{role | json}}</p>

    </div>
</div>

<div class="row">
  <div class="col col-md-2">
  <label class="control-label">Matricule :</label>
  </div>
  <div class="col col-md-4">
    <input id="employe-matricule" required [(ngModel)]="employe.matricule"  name="matricule" class="form-control" placeholder="tappez matricule employé" type="double">
    </div>
    <div class="col col-md-2">
  <label class="control-label">Salaire :</label>
    </div>
    <div class="col col-md-4">
      <div class="input-group">
      <span class="input-group-addon">TN</span>
      <input id="employe-salaire"required [(ngModel)]="employe.salaire" autocomplete="off" name="salaire" class="form-control" placeholder="tappez salaire en dinare" type="double">
    </div>
    <p class="help-block"></p>
  </div>
</div>

<div class="row"> 
   <div class="col col-md-2">
      <label class="control-label">Bureau :</label>
   </div>
   <div class="col col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_bureau"
        name="bureau" [(ngModel)]="selectedBureauId"
        (change)="onChangeBureau($event)">
      <option  *ngFor="let b of bureauArray" [value]="b.idBureau">
        {{b.nomBureau}}
      </option>
    </select>
    <p class="help-block">{{bureau | json}}</p>
    </div>
    <div class="col col-md-2">
      <label class="control-label">Departement :</label>
    </div>
    <div class="col col-md-4">
      <select required
       type="text" 
       class="form-control "
        id="field_bureau"
          name="bureau" [(ngModel)]="selectedDepartementId"
          (change)="onChangeDepartement($event)">
        <option  *ngFor="let b of departementArray" [value]="b.idDepartement">
          {{b.nomDepartement}}
        </option>
      </select>
      <p class="help-block">{{departement | json}}</p>
</div>
</div>




<div class="row"> 
  <div class="col col-md-2">
  <label class="control-label">Equipe :</label>
  </div>
  <div class="col col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_equipe"
        name="equipe" [(ngModel)]="selectedEquipeId"
        (change)="onChangeEquipe($event)">
      <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
        {{e.nomEquipe}}
      </option>
    </select>
    <p class="help-block">{{equipe | json}}</p>
    </div>
    <div class="col col-md-2">

  <label class="control-label">Email :</label>
    </div>
    <div class="col col-md-4">
      <div class="input-group">
      <span class="input-group-addon">@</span>
      <input id="employe-email"required [(ngModel)]="employe.email"  name="email" autocomplete="off"class="form-control" placeholder="tonnom@tondomain.tn" type="email">
    </div>
    
  </div>
   
  
</div>

<!-- Multiple Radios -->
<div class="row"> 
 
  <div class="col col-md-2">

  <label class="control-label">Client status :</label>
  </div>
  <div class="col col-md-4">
    <div class="radio">
    <label for="client-status-0">
      <input type="radio" required [(ngModel)]="employe.active" name="active" id="client-status-0" value="true" checked="checked">
      Active
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" required [(ngModel)]="employe.active" name="active" id="client-status-1" value="false">
      Inactive
    </label>
  </div>
  </div>
  <div class="col col-md-2">
  <label class="control-label">Mot de passe :</label>
  </div>
  <div class="col col-md-4">
    <div class="input-group">
      <span class="input-group-addon">*</span>
      <input   type="password" autocomplete="off" id="employe-password"required [(ngModel)]="employe.password" name="password" autocomplete="off"  class="form-control" placeholder="tapez mot de passe" >
    </div>
  </div>
  <div class="col col-md-2">
  <label class="control-label">Confirmation mot de passe :</label>
  </div>
  <div class="col col-md-4">
    <div class="input-group">
      <span class="input-group-addon"> * </span>
      <input   type="password" id="employe-confirmationpassword" autocomplete="off" name="password" class="form-control" placeholder="confirmez mot de passe" >
    </div>
    
  </div>
</div>





 
<!-- Button -->
<div class="row">
  
  <div class="col col-md-2">
  <label class="control-label">Photo :</label>
  </div>
  <div class="col col-md-3">
    <input type="file" class="btn btn-success btn-sm"  (change)="OnSelectFile($event)"> 
</div>
<div class="col col-md-2 zoom">
  <img class="topright" [src]="urllink" name="photo" id="profileDisplay">
</div>
<label class="col-md-4 control-label" for="btn-save"></label>

    <div class="col-md-1">
     <button id="btn-save" name="btn-save" class="btn btn-success" (click)="save(getCompteForm)">Créer</button>
    </div>
</div>
</form>

</fieldset>



	   </div> 



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-employe" >
            <legend class="navbar-brand titre">Liste des employés</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width=20%>Nom</th>
                <th scope="col" width=20%>Prenom</th>
                <th scope="col" width=20%>Email</th>
                <th scope="col" width=20%>Status</th>
                <th scope="col" width=20%>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-employes-body"  *ngFor="let employe of employes | async">
            <tr>
                <td>{{employe.nomEmploye}}</td>
                <td>{{employe.prenomEmploye}}</td>
                <td>{{employe.email}}</td>
                <td>{{employe.active}}</td>
                
                <td>
                  
                    <a title="les détails de l'employé" class="btn btn-default btn-sm "(click)="employeDetails(employe.idEmploye)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier ces informations" class="btn btn-default btn-sm "(click)="updateEmploye(employe.idEmploye)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer " class="btn btn-default btn-sm " (click)="deleteEmploye(employe.idEmploye)"ng-change="gotoList()"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 
