
<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des employés</legend>
<form (ngSubmit)="onSubmit()">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" >Nom :</label>  
  <div class="col-md-4">
  <input id="client-name" required [(ngModel)]="employe.nomEmploye" autocomplete="off" name="employe-name" type="text" placeholder="tapez le nom de l'employé" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Prenom :</label>  
  <div class="col-md-4">
  <input id="employe-prenom"required [(ngModel)]="employe.prenomEmploye" autocomplete="off" name="employe-prenom" type="text" placeholder="tapez le prenom de l'employé" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label" >Date naissance :</label>  
  <div class="col-md-4">
    <input  
    name="employe-date-naissance"
    placeholder = "Selectionner la date naissance"
    [(ngModel)]="employe.dateNaissance"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
 
  <span class="help-block"></span>  
  </div>  
  

  <label class="col-md-2 control-label" >Date d'embauche :</label>  
  <div class="col-md-4">
    <input  
    name="employe-date-embauche"
    placeholder = "Selectionner la date embauche "
    [(ngModel)]="employe.dateEmbauche"    
    autocomplete="off"
    class="form-control"
     bsDatepicker
     [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" >
     
  <span class="help-block"></span>  
  </div>
  
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Post :</label>  
  <div class="col-md-4">
  <input id="employe-post" required [(ngModel)]="employe.post"  name="employe-post" type="text" placeholder="tapez lepost de l'employe" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label">Role :</label>  
  <div class="col-md-4">
  <input id="employe-role" required [(ngModel)]="employe.role" name="employe-role" type="text" placeholder="tapez le role de l'employé" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Matricule :</label>
  <div class="col-md-4">
    
      <input id="employe-matricule" required [(ngModel)]="employe.matricule"  name="employe-matricule" class="form-control" placeholder="tappez matricule employé" type="double">
    </div>
    <p class="help-block"></p>
  <label class="col-md-2 control-label">Salaire :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">TN</span>
      <input id="employe-salaire"required [(ngModel)]="employe.salaire" autocomplete="off" name="employe-salaire" class="form-control" placeholder="tappez salaire en dinare" type="double">
    </div>
    <p class="help-block"></p>
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Bureau :</label>
  <div class="col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_bureau"
        name="bureau" [(ngModel)]="selectedBureauId"
        (change)="onChange($event)">
      <option  *ngFor="let b of bureauArray" [value]="b.idBureau">
        {{b.nomBureau}}
      </option>
    </select>
    <p class="help-block">{{bureau | json}}</p>

    </div>

    <label class="col-md-2 control-label">Departement :</label>
    <div class="col-md-4">
      <select required
       type="text" 
       class="form-control "
        id="field_bureau"
          name="bureau" [(ngModel)]="selectedDepartementId"
          (change)="onChange($event)">
        <option  *ngFor="let b of departementArray" [value]="b.idDepartement">
          {{b.nomDepartement}}
        </option>
      </select>
      <p class="help-block">{{departement | json}}</p>
  
</div></div>




<div class="form-group">
<label class="col-md-2 control-label">Email :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input id="employe-email"required [(ngModel)]="employe.email"  name="employe-email" class="form-control" placeholder="tonnom@tondomain.tn" type="text">
    </div>
    
  </div>
  <label class="col-md-2 control-label">Mot de passe :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">*</span>
      <input id="employe-password"required [(ngModel)]="employe.password" autocomplete="off" name="employe-password" class="form-control" placeholder="tapez mot de passe" type="text">
    </div>
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-2 control-label">Client status :</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="client-status-0">
      <input type="radio" required [(ngModel)]="employe.active" name="client-status1" id="client-status-0" value="true" checked="checked">
      Active
    </label>
	</div>
  <div class="radio">
    <label>
      <input type="radio" required [(ngModel)]="employe.active" name="client-status2" id="client-status-1" value="false">
      Inactive
    </label>
	</div>
  </div>
  <label class="col-md-2 control-label">Confirmation mot de passe :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">*</span>
      <input id="employe-confirmationpassword" name="employe-confirmationpassword" class="form-control" placeholder="confirmez mot de passe" type="text">
    </div>
    
  </div>
</div>


  <div class="form-group">
  <label class="col-md-2 control-label">Equipe :</label>
  <div class="col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_bureau"
        name="equipe" [(ngModel)]="selectedEquipeId"
        (change)="onChange($event)">
      <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
        {{e.nomEquipe}}
      </option>
    </select>
    <p class="help-block">{{equipe | json}}</p>
    </div>
  </div>

<!-- Button -->
<div class="form-group">
    <label class="col-md-5 control-label" for="btn-save"></label>
    <div class="col-md-5">
     <button id="btn-save" name="btn-save" type="submit" class="btn btn-success" >Créer</button>
    </div>
</div>
</form>
</fieldset>



	   </div> 



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-employe" >
            <legend class="navbar-brand titre">Liste des employés</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-employes-body"  *ngFor="let employe of employes | async">
            <tr>
                <td>{{employe.nomEmploye}}</td>
                <td>{{employe.prenomEmploye}}</td>
                <td>{{employe.email}}</td>
                <td>{{employe.active}}</td>
                
                <td>
                  
                    <a title="les détails de l'employé" class="btn btn-default btn-sm "(click)="employeDetails(employe.idEmploye)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier ces informations" class="btn btn-default btn-sm "(click)="updateEmploye(employe.idEmploye)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer " class="btn btn-default btn-sm " (click)="deleteEmploye(employe.idEmploye)"ng-change="gotoList()"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

