<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
    	<div class="[ container ]">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="[ navbar-header ]">
				<button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="[ sr-only ]">Toggle navigation</span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
				</button>
				<div class="[ animbrand ]">
          <img  width="100" height="70" bind-src="logo">
					<a class="[ navbar-brand ][ animate ]"  href="http://localhost:4200/gestionComptes">Telecite</a>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
				<ul class="[ nav navbar-nav navbar-right ]">
					<li class="[ visible-xs ]">
						<form action="http://bootsnipp.com/search" method="GET" role="search">
							<div class="[ input-group ]">
								<input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets">
								<span class="[ input-group-btn ]">
									<button class="[ btn btn-primary ]" type="submit"><span class="[ glyphicon glyphicon-search ]"></span></button>
									<button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
								</span>
							</div>
						</form>
					</li>
					<li><a href="#" class="[ animate ]">About</a></li>
					<li>
						<a href="#" class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Resources <span class="[ caret ]"></span></a>
						<ul class="[ dropdown-menu ]" role="menu">
							<li><a href="#" class="[ animate ]">Blog <span class="[ pull-right glyphicon glyphicon-pencil ]"></span></a></li>
							<li><a href="#" class="[ animate ]">List of resources <span class="[ pull-right glyphicon glyphicon-align-justify ]"></span></a></li>
							<li><a href="#" class="[ animate ]">Download Bootstrap <span class="[ pull-right glyphicon glyphicon-cloud-download ]"></span></a></li>
							<li class="[ dropdown-header ]">Bootstrap Templates</li>
							<li><a href="#" class="[ animate ]">Browse Templates <span class="[ pull-right glyphicon glyphicon-shopping-cart ]"></span></a></li>
							<li class="[ dropdown-header ]">Builders</li>
							<li><a href="#" class="[ animate ]">Form Builder <span class="[ pull-right glyphicon glyphicon-tasks ]"></span></a></li>
							<li><a href="#" class="[ animate ]">Button Builder <span class="[ pull-right glyphicon glyphicon-edit ]"></span></a></li>
						</ul>
					</li>
					<li class="[ dropdown ]">
						<a href="#" class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Snippets <span class="[ caret ]"></span></a>
						<ul class="[ dropdown-menu ]" role="menu">
							<li><a href="#" class="[ animate ]">Featured <span class="[ pull-right glyphicon glyphicon-star ]"></span></a></li>
							<li><a href="#" class="[ animate ]">Tags  <span class="[ pull-right glyphicon glyphicon-tags ]"></span></a></li>
							<li class="[ dropdown-header ]">By Bootstrap Version</li>
							<li><a href="#" class="[ animate ]">3.2.0</a></li>
							<li><a href="#" class="[ animate ]">3.1.0</a></li>
							<li><a href="#" class="[ animate ]">3.0.3</a></li>
							<li><a href="#" class="[ animate ]">3.0.1</a></li>
							<li><a href="#" class="[ animate ]">3.0.0</a></li>
							<li><a href="#" class="[ animate ]">2.3.2</a></li>
						</ul>
					</li>
					<li><a class="animate" href="#register">Register</a></li>
					<li><a class="animate" href="#login">Login</a></li>
                    <li class="[ hidden-xs ]"><a href="#toggle-search" class="[ animate ]"><span class="[ glyphicon glyphicon-search ]"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="[ bootsnipp-search animate ]">
			<div class="[ container ]">
				<form action="http://bootsnipp.com/search" method="GET" role="search">
					<div class="[ input-group ]">
						<input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets and hit enter">
						<span class="[ input-group-btn ]">
							<button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</nav>

<div class="container">
	<div class="row">
	    
	    
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">

<span class="help-block">cc</span> 
<span class="help-block">cc</span> 

<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des employés</legend>
<form (ngSubmit)="onSubmit()">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" >Nom :</label>  
  <div class="col-md-4">
  <input id="client-name" required [(ngModel)]="employe.nomEmploye" name="employe-name" type="text" placeholder="tapez le nom de l'employé" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Prenom :</label>  
  <div class="col-md-4">
  <input id="employe-prenom"required [(ngModel)]="employe.prenomEmploye" name="employe-prenom" type="text" placeholder="tapez le prenom de l'employé" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label" >Date naissance :</label>  
  <div class="col-md-4">
  <input id="employe-date-naissance"required [(ngModel)]="employe.dateNaissance" name="employe-date-naissance" type="text" placeholder="tapez la date de naissance" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Date d'embauche :</label>  
  <div class="col-md-4">
  <input id="employe-date-embauche"  required [(ngModel)]="employe.dateEmbauche" name="employe-date-embauche" type="text" placeholder="tapez la date d'embauche" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Post :</label>  
  <div class="col-md-4">
  <input id="employe-post" required [(ngModel)]="employe.post" name="employe-post" type="text" placeholder="tapez lepost de l'employe" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label">Role :</label>  
  <div class="col-md-4">
  <input id="employe-role" required [(ngModel)]="employe.role" name="employe-role" type="text" placeholder="tapez le role de l'employé" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Matricule :</label>
  <div class="col-md-4">
    
      <input id="employe-matricule" required [(ngModel)]="employe.matricule" name="employe-matricule" class="form-control" placeholder="tappez matricule employé" type="double">
    </div>
    <p class="help-block"></p>
  
  <label class="col-md-2 control-label">Salaire :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">TN</span>
      <input id="employe-salaire"required [(ngModel)]="employe.salaire" name="employe-salaire" class="form-control" placeholder="tappez salaire en dinare" type="double">
    </div>
    <p class="help-block"></p>
  </div>
</div>
<div class="form-group">
<label class="col-md-2 control-label">Email :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input id="employe-email"required [(ngModel)]="employe.email" name="employe-email" class="form-control" placeholder="tonnom@tondomain.tn" type="text">
    </div>
    
  </div>
  <label class="col-md-2 control-label">Mot de passe :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">*</span>
      <input id="employe-password"required [(ngModel)]="employe.password" name="employe-password" class="form-control" placeholder="tapez mot de passe" type="text">
    </div>
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-2 control-label">Client status :</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="client-status-0">
      <input type="radio" required [(ngModel)]="employe.active" name="client-status" id="client-status-0" value="active" checked="checked">
      Active
    </label>
	</div>
  <div class="radio">
    <label>
      <input type="radio" required [(ngModel)]="employe.active" name="client-status" id="client-status-1" value="inactive">
      Inactive
    </label>
	</div>
  </div>
  <label class="col-md-2 control-label">Confirmation mot de passe :</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">*</span>
      <input id="employe-confirmationpassword" name="employe-confirmationpassword" class="form-control" placeholder="confirmez mot de passe" type="text">
    </div>
    
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-5 control-label" for="btn-save"></label>
  <div class="col-md-5">
    <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Créer</button>
  </div>
</div>
</form>
</fieldset>



	   </div> 
	    



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-employe" >
            <legend class="navbar-brand titre">Liste des employés</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Prenom</td>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-client-body"  *ngFor="let emp of employes">
            <tr>
                <td>{{emp.nomEmploye}}</td>
                <td>{{emp.prenomEmploye}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.active}}</td>
                
                <td>
                    <a title="view this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a>
                    <a title="edit this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="delete this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

<!-- view 

<div class="col-md-12">
    
    <legend>View client</legend>
    
    <div >
        
              <div class2=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>Andre Silva</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        
        
    </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                            
                            <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                            <!--
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                    <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                                </ul>
                            </li>
                           
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">Default 1</div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <!--
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                        
                    </div>
                </div>
            </div>

</div>
	    
	    
	</div>
</div>
 -->
<script>
   $(function() { 

$('a[href="#toggle-search"], .navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn[type="reset"]').on('click', function(event) {
event.preventDefault();
$('.navbar-bootsnipp .bootsnipp-search .input-group > input').val('');
$('.navbar-bootsnipp .bootsnipp-search').toggleClass('open');
$('a[href="#toggle-search"]').closest('li').toggleClass('active');

if ($('.navbar-bootsnipp .bootsnipp-search').hasClass('open')) {
  /* I think .focus dosen't like css animations, set timeout to make sure input gets focus */
  setTimeout(function() { 
    $('.navbar-bootsnipp .bootsnipp-search .form-control').focus();
  }, 100);
}			
});

$(document).on('keyup', function(event) {
if (event.which == 27 && $('.navbar-bootsnipp .bootsnipp-search').hasClass('open')) {
  $('a[href="#toggle-search"]').trigger('click');
}
});

});

</script>
