<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations du tache</legend>
<hr/>
<div >
        <div>
            <b>Tâche :</b><label>{{tache.descriptionTache}}</label>
        </div>
        <div>
            <b>Durée :</b><label>{{tache.dureeTache}}</label>
        </div>
        <div>
            <b>Etat : </b><label>{{tache.etatTache}}</label>
        </div>
        <div *ngIf="tache.employe!=null">
            <b>Affectée à : </b><label> {{ tache.employe.nomEmploye }} {{ tache.employe.prenomEmploye }}</label>
        </div>
        <div *ngIf="tache.employe==null">
            <b>Affectée à : </b><label> N'est pas encore affectée</label>
        </div>
        <div>
            <b>Projet  : </b><label>{{tache.userStory.sprint.projet.nomProjet}}</label>
        </div>
        <div>
            <b>Sprint  : </b><label>{{tache.userStory.sprint.nomSprint}}</label>
        </div>
      
       
      
<br>
<br>
<!-- Button-->
<label class="col-md-2 control-label" for="btn-save"></label>
<div class="col col-lg-2">
    <button id="btn-save" name="btn-save" (click)="userstoryDetails(tache.userStory.idUserstory)" class="btn btn-success">Retour au detail UserStory</button>
    </div>
<div class="form-group">
    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
        <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des taches </button>
    </div>
</div>
