<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations du tache</legend>
<hr/>
<div >
    <table class="table table-bordered table-condensed table-hover">
        <tr>
             <th style="color: dodgerblue;"  width=20%>Tâche :</th>
             <td>{{tache.descriptionTache}}</td>
        </tr>
        <tr>
             <th  style="color: dodgerblue;" width=20%>Durée :</th>
             <td>{{tache.dureeTache}} jour(s)</td>
        </tr>
        <tr>
             <th  style="color: dodgerblue;" width=20%>Etat :</th>
             <td>{{tache.etatTache}}</td>
        </tr>
        <tr *ngIf="tache.employe!=null">
              <th  style="color: dodgerblue;" width=20%>Affectée à :</th>
              <td>{{ tache.employe.nomEmploye }} {{ tache.employe.prenomEmploye }}</td>
        </tr>
        <tr *ngIf="tache.employe==null">
             <th style="color: dodgerblue;" width=20%>Affectée à :</th>
             <td>N'est pas encore affectée</td>
        </tr>
        <tr>
             <th style="color: dodgerblue;" width=20%>Projet  :</th>
             <td>{{tache.userStory.sprint.projet.nomProjet}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;" width=20%>Sprint :</th>
            <td>{{tache.userStory.sprint.nomSprint}}</td>
        </tr>
</table>
      
</div>  
<br>
<br>
<!-- Button-->
<label class="col-md-2 control-label" for="btn-save"></label>
<div class="col col-lg-2">
    <button id="btn-save" name="btn-save" (click)="userstoryDetails(tache.userStory.idUserstory)" class="btn btn-success">Retour au detail UserStory</button>
    </div>
<div class="form-group">
    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
        <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des taches </button>
    </div>
</div>
