<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
    	<div class="[ container ]">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="[ navbar-header ]">
				<button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="[ sr-only ]">Toggle navigation</span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
					<span class="[ icon-bar ]"></span>
				</button>
				<div class="[ animbrand ]">
          <img  width="100" height="70" bind-src="logo">
					<a class="[ navbar-brand ][ animate ]"  >Telecite</a>
				</div>
			</div>






			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
				<ul class="[ nav navbar-nav navbar-right ]" [ngSwitch]="[role]">
					<li *ngSwitchCase="role==='ROLE_SCRUM_MASTER'||role==='ROLE_DRH'||role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_EMPLOYE'||role==='ROLE_SCRUM_TEAM_MEMBER'||role==='ROLE_DEV_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" (click)="employeDetails()" class="animate" >Profil</a></li>
					
					<li *ngSwitchCase="'ROLE_DRH'"><a href="http://localhost:5300/gestionComptes" class="animate" >Comptes</a></li>
					
					<li *ngSwitchCase="role==='ROLE_SCRUM_MASTER'||role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_EMPLOYE'||role==='ROLE_SCRUM_TEAM_MEMBER'||role==='ROLE_DEV_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" href="http://localhost:5300/gestionProjets" class="animate">Projets</a></li>
					
					<li *ngSwitchCase="role==='ROLE_SCRUM_MASTER'||role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_SCRUM_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" href="http://localhost:5300/gestionSprints"  class="animate">Sprints </a></li>
					
					<li *ngSwitchCase="role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_SCRUM_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" class="animate" href="http://localhost:5300/gestionUserstory">UserStories</a></li>
					
					<li *ngSwitchCase="role==='ROLE_SCRUM_MASTER'||role==='ROLE_DRH'||role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_EMPLOYE'||role==='ROLE_SCRUM_TEAM_MEMBER'||role==='ROLE_DEV_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" class="animate" href="http://localhost:5300/Reunions/list">Réunions</a></li>
					
					<li *ngSwitchCase="'ROLE_SCRUM_MASTER'">
					<a class="animate" href="http://localhost:5300/gestionEquipes">Equipe</a></li>
					
					<li *ngSwitchCase="role==='ROLE_SCRUM_MASTER'||role==='ROLE_PRODUCT_OWNER'
					||role==='ROLE_SCRUM_TEAM_MEMBER'? role : ''">
					<a *ngIf="role" class="animate" (click)="ressource()">Ressources</a></li>
					
					<li><a *ngIf="role" class="animate" href="" (click)="logout()">Déconnexion</a></li>
				</ul>
			</div>
		</div>
		<div class="[ bootsnipp-search animate ]">
			<div class="[ container ]">
				<form action="http://bootsnipp.com/search" method="GET" role="search">
					<div class="[ input-group ]">
						<input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets and hit enter">
						<span class="[ input-group-btn ]">
							<button class="[ btn btn-danger ]" type="reset"><span class="[ glyphicon glyphicon-remove ]"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</nav>

<div class="container">
	<div class="row">
	    
	    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$('.navbar-light .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
    }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
    });
});
</script>







<router-outlet></router-outlet>
