<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations de l'employé</legend>
<hr/>
<div >
        <div>
            <b>Nom :</b><label>{{employe.nomEmploye}}</label>
        </div>
        <div>
            <b>Prenom :</b><label>{{employe.prenomEmploye}}</label>
        </div>
        <div>
            <b>Matricule :</b><label>{{employe.matricule}}</label>
        </div>

        <div>
            <b>Date naissance :</b><label>{{employe.dateNaissance}}</label>
        </div>

        <div>
            <b>Date d'embauche :</b><label>{{employe.dateEmbauche}}</label>
        </div>
        <div>
            <b>E-mail :</b><label>{{employe.email}}</label>
        </div>
        <div>
            <b>Post :</b><label>{{employe.post}}</label>
        </div>
        <div>
      <label *ngIf="employe.roleMember!=null">{{employe.roleMember.nomRole}}</label>
        </div>
        <div>
            <b>Salaire :</b><label>{{employe.salaire}}</label>
        </div>
        <div>
            <b>Etat :</b><label>{{employe.active}}</label>
        </div>
        <div>
            <b>Bureau :</b><label *ngIf="employe.bureau!=null">{{employe.bureau.nomBureau}}</label>
        </div>
        <div>
            <b>Departement :</b><label *ngIf="employe.departement!=null">{{employe.departement.nomDepartement}}</label>
        </div>
        <div>
            <b>Equipe :</b><label *ngIf="employe.equipe!=null">{{employe.equipe.nomEquipe}}</label>
        </div>
</div>
<br>
<br>
<!-- Button -->
<div class="form-group">
    <label class="col-md-0 control-label" for="btn-save"></label>
    <div class="col-md-0">
     <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des employées</button>
    </div>
</div>
