<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-12">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  >Changer les informations</legend>
<form [formGroup]="exform" (ngSubmit)="onSubmit()">
<!-- Text input-->
<label class="col-md-2 control-label" >Nom d'equipe:</label>  
<div class="col-md-4">
<input id="equipe-name" formControlName="nom" [(ngModel)]="equipe.nomEquipe" name="equipe-name" type="text" placeholder="tapez le nom d'equipe" class="form-control input-md" >
<small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="textdanger">Nom d'équipe est obligatoire</small>
<span class="help-block"></span>  
</div>
<label class="col-md-2 control-label" >Spécialité :</label>  
<div class="col-md-4">
<input id="equipe-theme" formControlName="specialite" [(ngModel)]="equipe.specialite" name="equipe-specialite" type="text" placeholder="tapez la spécialité du projet" class="form-control input-md">
<small *ngIf="exform.get('specialite').invalid && exform.get('specialite').touched" class="textdanger">Spécialité d'équipe est obligatoire</small>
<span class="help-block"></span>  
</div>
  <!-- Button -->

  

<div class="row">
    <div class="col align-self-start">
      <label class="col-md-5.5 control-label" for="btn-save"></label>
    </div>
    <div class="col align-self-center">
      <label class="col-md-4 control-label" for="btn-save"></label>
    </div>
    
    <div class="col col-md-1">
        <button id="btn-save" [disabled]="exform.invalid" (click)="list()" name="btn-save" class="btn btn-success">Modifier et retour au liste des equipes </button>
    </div>
  </div>
  <simple-notifications></simple-notifications>
