<hr/>
<hr/>

	    



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-sprints" >

        <div class="col col-md-11">
          <legend class="navbar-brand titre">Liste des Backlog Produit</legend>
         </div>
         <div class="col col-md-1">
          <a   *ngIf="roleE=='ROLE_PRODUCT_OWNER'"  title="ajouter un sprint " class="btn btn-default btn-sm "(click)="ajoutSprint()"><i class="fas fa-calendar-plus  fa-2x lime"></i></a> 
        </div>
      
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table id="tab1" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
              <th scope="col" width=25%>Projet</th>
                <th scope="col" width=25%>Backlog Produit</th>                
                <th scope="col" width=25%>Equipe</th>
                <th scope="col" width=25%>Actions</th>
            </tr>
                

             

        </thead>
        <ng-container *ngFor="let sprint of sprints | async">
          <tbody id="form-list-projets-body" *ngIf="sprint.nomSprint=='Backlog produit'">
            <tr>
              <td>{{sprint.projet.nomProjet}}</td>
                <td>{{sprint.nomSprint}}</td>
                <td>{{sprint.projet.equipe.nomEquipe}}</td>

                <td>
                  
                    <a title="les détails du Backlog" class="btn btn-default btn-sm "(click)="sprintDetails(sprint.idSprint)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    
                   
                </td>
            </tr>
        </tbody>
      </ng-container>
    </table>
    </form>

    
</div>
<!-- LIST -->
<div class=col-md-12 >
    
  <form id="form-list-sprintsProjet" >
    <div class="form-group">
                <legend id="leg3" class=" col-md-3 titre">Liste des sprints du projet : </legend>
                  <div class="col-md-3">
            <select required
             type="text" 
             class="form-control "
              id="field_projetSprints"
                name="projetSprints" [(ngModel)]="selectedProjetSprintsId"
                (change)="onChange1($event)">
              <option  *ngFor="let p of projetArray" [value]="p.idProjet">
                {{p.nomProjet}}
              </option>
            </select>
            <p class="help-block"></p>
            </div>
          </div>

 <!-- <div class="pull-right">
      <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
      <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
  </div>-->
  <table id="tab2" *ngIf="selectedProjetSprintsId" class="table table-bordered table-condensed table-hover">
      <thead>
          <tr>
            <th scope="col" width=20% >Projet </th>   

              <th scope="col" width=25%>Nom sprint</th>   
              <th scope="col" width=15%>Date début</th> 
              <th scope="col" width=15%>Date fin</th>              
              <th scope="col" width=15%>Statut</th>
              <th scope="col" width=15%>Actions</th>
          </tr>
              

           

      </thead>
        <tbody id="form-list-projets-body">
          <tr>  
          <td *ngIf="sprintsProjetArray[0]!= undefined" [attr.rowspan]="sprintsProjetArray.length + 1">{{sprintsProjetArray[0].projet.nomProjet}}</td>
          </tr>
          <tr *ngFor="let sprint of sprintsProjetArray">
                     

              <td>{{sprint.nomSprint}}</td>
              <td>{{sprint.dateDebut| date :'shortDate'}}</td>
              <td>{{sprint.dateFin| date :'shortDate'}}</td>
              <td>{{sprint.etatSprint}}</td>

              <td>
                
                  <a title="les détails du sprint" class="btn btn-default btn-sm "(click)="sprintDetails(sprint.idSprint)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                  <a title="Commenterle sprint" class="btn btn-default btn-sm "(click)="onAffect(sprint.idSprint)"> <i class="lime far fa-comment-dots"></i></a> 
                  <a *ngIf="roleE=='ROLE_PRODUCT_OWNER'" title="modifier le  sprint" class="btn btn-default btn-sm "(click)="updateSprint(sprint.idSprint)"> <i class="glyphicon glyphicon-edit orange"></i> </a>
                  <a *ngIf="roleE=='ROLE_PRODUCT_OWNER'" title="supprimer le sprint " class="btn btn-default btn-sm " (click)="deleteSprints(sprint.idSprint)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                  
                 
              </td>
  </tr>
    </tbody>
  </table>
  </form>

  
</div>
