<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations du projet</legend>
<hr/>
<div >

    <table class="table   table-hover">
        <tr>
            <th style="color: dodgerblue;"  width=20%>Nom projet  :</th>
            <td>{{projet.nomProjet}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Théme  :</th>
            <td>{{projet.theme}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Description  :</th>
            <td>{{projet.description}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Description technique  :</th>
            <td>{{projet.descriptionTechnique}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Date debut projet  :</th>
            <td>{{projet.dateDebut | date :'shortDate'}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Date Fin projet  :</th>
            <td>{{projet.dateFin | date :'shortDate'}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Equipe :</th>
            <td *ngIf="projet.equipe!=null">{{projet.equipe.nomEquipe}}</td>
        </tr>
    </table>
</div>
<br>
<br>


<!-- Button -->
<div class="form-group">
    <label class="col-md-0 control-label" for="btn-save"></label>
    <div class="col-md-0">
     <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des projets</button>
    </div>
</div>
<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-sprintsProjet" >
            <legend class="navbar-brand titre">Liste des sprints de projet</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class=" table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th class="titre_tab" scope="col" width=40%>Nom sprint</th>
                <th class="titre_tab" scope="col" width=20%>Date Début</th>
                <th class="titre_tab" scope="col" width=20%>Date Fin</th>
                <th class="titre_tab" scope="col" width=10%>Statut</th>
                <th class="titre_tab"  scope="col" width=10%>Actions</th>
            </tr>
                
        </thead>
        <ng-container *ngFor="let sprint of sprints | async">
            <tbody id="form-list-projets-body" *ngIf="sprint.nomSprint !='Backlog produit'">
            <tr>
                <td class="titre_tab">{{sprint.nomSprint}}</td>
                <td class="titre_tab">{{sprint.dateDebut | date :'shortDate'}}</td>
                <td class="titre_tab">{{sprint.dateFin | date :'shortDate'}}</td>
                <td class="titre_tab">{{sprint.etatSprint}}</td>

                <td class="titre_tab">
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="sprintDetails(sprint.idSprint)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a *ngIf="roleE=='ROLE_PRODUCT_OWNER'"  title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateSprint(sprint.idSprint)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a *ngIf="roleE=='ROLE_PRODUCT_OWNER'"  title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteSprints(sprint.idSprint)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </ng-container>
    </table>
    </form>

    
</div>


<br> 

