<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations du projet</legend>
<hr/>
<div >
        <div>
            <b>Nom projet  :</b><label>{{projet.nomProjet}}</label>
        </div>
        <div>
            <b>Théme  :</b><label>{{projet.theme}}</label>
        </div>
        <div>
            <b>Description  :</b><label>{{projet.description}}</label>
        </div>

        <div>
            <b>Description technique  :</b><label>{{projet.descriptionTechnique}}</label>
        </div>

        <div>
            <b>Date debut projet  :</b><label>{{projet.dateDebut}}</label>
        </div>
       
        <div>
            <b>Date Fin projet  :</b><label>{{projet.dateFin}}</label>
        </div>
        <div>
            <b>Equipe :</b><label *ngIf="projet.equipe!=null">{{projet.equipe.nomEquipe}}</label>
        </div>
</div>
<br>
<br>
<!-- Button -->
<div class="form-group">
    <label class="col-md-0 control-label" for="btn-save"></label>
    <div class="col-md-0">
     <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des projets</button>
    </div>
</div>
<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-sprintsProjet" >
            <legend class="navbar-brand titre">Liste des sprints de projet</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nom sprint</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let sprint of sprints | async">
            <tr>
                <td>{{sprint.nomSprint}}</td>
                <td>{{sprint.dateDebut}}</td>
                <td>{{sprint.dateFin}}</td>
                <td>{{sprint.etatSprint}}</td>

                <td>
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="sprintDetails(sprint.idSprint)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateSprint(sprint.idSprint)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteSprints(sprint.idSprint)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

