<hr/>
<hr/>
<legend  class="navbar-brand titre"  > Les informations d'equipe </legend>
<hr/>
<div >
    <table class="table   table-hover">
        <tr>
            <th style="color: dodgerblue;"  width=20%>Nom :</th>
            <td>{{equipe.nomEquipe}}</td>
        </tr>
        <tr>
            <th style="color: dodgerblue;"  width=20%>Spécialité  :</th>
            <td>{{equipe.specialite}}</td>
        </tr>
    </table>
<br>
<br>
<div class="form-group">
    <label class="col-md-0 control-label" for="btn-save"></label>
    <div class="col-md-0">
     <button id="btn-save"  (click)="list()" name="btn-save" class="btn btn-success">Retour au liste des employées</button>
    </div>
</div>
<form id="form-list-userstorySprint" >
    <legend class="navbar-brand titre">Liste des membres equipe</legend>  
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr> 
                <th class="titre_tab" scope="col" width=20%>Nom</th>
                <th class="titre_tab" scope="col" width=20%>Prenom</th>
                <th class="titre_tab" scope="col" width=20%>Email</th>
                <th class="titre_tab" scope="col" width=20%>Status</th>
                <th class="titre_tab" scope="col" width=20%>Actions</th>
            </tr>    
        </thead>
        <tbody id="form-list-employes-body"  *ngFor="let employe of equipemps | async">
            <tr>
                <td class="titre_tab" >{{employe.nomEmploye}}</td>
                <td class="titre_tab" >{{employe.prenomEmploye}}</td>
                <td class="titre_tab" >{{employe.email}}</td>
                <td class="titre_tab" >{{employe.active}}</td>
                <td class="titre_tab" >
                    <a title="les détails de l'employé" class="btn btn-default btn-sm "(click)="employeDetails(employe.idEmploye)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a>  
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    



<br> 

