<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des user stories</legend>
<form #userstoryForm="ngForm" (ngSubmit)="onSubmit(userstoryForm)">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" >User storie :</label>  
  <div class="col-md-12">
  <input id="sprint-name" required [(ngModel)]="userstory.libelleUserStory" name="userstory-name" type="text" placeholder="En tant que...... je veux .....à fin de ....." class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Priorité :</label>
  <div class="col-md-4">
    <input id="userstory-name" required [(ngModel)]="userstory.priorite" name="priorite-name" type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
    <p class="help-block"></p>
    </div>
  <label class="col-md-2 control-label" >Complexité  :</label>  
  <div class="col-md-4">
    <input id="complexite-name" required [(ngModel)]="userstory.complexite" name="complexite-name" type="number" placeholder="choisir un nembre sur 5" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
</div>
  <label class="col-md-2 control-label">Projet :</label>
  <div class="col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_projet"
        name="projet" [(ngModel)]="selectedProjetId"
        (change)="onChange($event)">
      <option  *ngFor="let p of projetArray" [value]="p.idProjet">
        {{p.nomProjet}}
      </option>
    </select>
    <p class="help-block"></p>
    </div>
<!-- Button -->

    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
     <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
    </div>
</form>
</fieldset>
	   </div> 
	    



<!--LIST-->
<div class=col-md-12 >
    
    <form id="form-list-sprintsProjet" >
            <legend class="navbar-brand titre">Liste des UserStory</legend>
  
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>UserStory</th>
                <th>Priorite</th>
                <th>Complexite</th>
                <th>Sprint</th>
                <th>Projet</th>
                <th>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let userstory of userstorys | async">
            <tr>
                <td>{{userstory.libelleUserStory}}</td>
                <td>{{userstory.priorite}}</td>
                <td>{{userstory.complexite}}</td>
                <td>{{userstory.sprint.nomSprint}}</td>
                <td>{{userstory.sprint.projet.nomProjet}}</td>

                <td>
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="userstoryDetails(userstory.idUserStory)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

 