<hr/>
<hr/>

<!-- FORM  -->	    
	   <div class="container">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des user stories</legend>
<form #userstoryForm="ngForm" (ngSubmit)="onSubmit(userstoryForm)">
<!-- Text input-->
<div class="row">
  <div class="col col-md-2">

<label class="control-label">Projet :</label>
</div>
<div class="col col-md-3">
    <select required
     type="text" 
     class=" form-control "
      id="field_projet"
        name="projet" [(ngModel)]="selectedProjetId"
        (change)="onChange($event)">
      <option  *ngFor="let p of projetArray" [value]="p.idProjet">
        {{p.nomProjet}}
      </option>
    </select>
    <p class="help-block"></p>
    </div>

    <div class="col col-md-2">

  <label class="control-label" >User storie :</label>  
</div>
  <div class="col col-md-4">
    <textarea id="sprint-name"  rows="2" cols="25" required [(ngModel)]="userstory.libelleUserStory" name="userstory-name" type="text" placeholder="En tant que...... je veux .....à fin de ....." class="form-control input-md"></textarea>

  <span class="help-block"></span>  
  </div>
</div>

<div class="row">
  <div class="col col-md-2">

  <label class=" control-label">Priorité :</label>
</div>
<div class="col col-md-3">
  <select required
     type="text" 
     class="form-control "
      id="field_priorite"
        name="priorite" [(ngModel)]="selectedPriorite"
        (change)="onChangePriorite($event)">
      <option  *ngFor="let p of prioriteArray" [value]="p.Id">
        {{p.name}}
      </option>
    </select>
    <p class="help-block">{{selectedPriorite}}
    </p>
    </div>
  
    <div class="col col-md-2">
      <label class="control-label" >Complexité  :</label>  
    </div>
    <div class="col col-md-4">
      <select required
      type="text" 
      class="form-control "
       id="field_complexite"
         name="complexite" [(ngModel)]="selectedComplexite"
         (change)="onChangeComplexite($event)">
       <option  *ngFor="let c of complexiteArray" [value]="c">
         {{c}}
       </option>
     </select>
   
  <span class="help-block"></span>  
  </div>
</div>
<hr>
<!-- Button -->
<div class="row">
    <div class="col align-self-start">
      <label class="col-md-5.5 control-label" for="btn-save"></label>
    </div>
    <div class="col align-self-center">
      <label class="col-md-5 control-label" for="btn-save"></label>
    </div>
    
    <div class="col col-md-1">
      <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
    </div>
  </div>



</form>
</fieldset>
	  
</div> 
  



<!--LIST-->
<div class=col-md-12 >
    
    <form id="form-list-userStoryProjet" >
            <legend class="navbar-brand titre">Liste des UserStory du projet :{{userstory.sprint.projet.nomProjet}} </legend>
  
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">UserStory</th>
                <th scope="col">Priorite</th>
                <th scope="col">Complexite</th>
                <th scope="col">Sprint</th>
                <th scope="col">Projet</th>
                <th scope="col"> tâches </th>
                <th scope="col">Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let userstory of userstorys | async">
            <tr>
                <td>{{userstory.libelleUserStory}}</td>
                <td>{{userstory.priorite}}</td>
                <td>{{userstory.complexite}}</td>
                <td>{{userstory.sprint.nomSprint}}</td>
                <td>{{userstory.sprint.projet.nomProjet}}</td>
                <td>
                  
                  <a title="ajouter les tâches pour un user Story" class="btn btn-default btn-sm "(click)="gestionTaches(userstory.idUserStory)"><i class="fas fa-tasks"></i> </a> 
                </td>
                <td>
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="userstoryDetails(userstory.idUserStory)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteUserstory(userstory.idUserStory)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>

