.titre{
    color:rgb(95, 176, 228);
  }
 
  .example-container {
    width: 800px;
    height: 800px;
    max-width: 100%;
    display: inline-block;
    left: 70px;
    vertical-align: top;
  }
  .example-list {
    border: solid 1px white;
    min-height: 40px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;

  }
  .example-list .pic{
    position: absolute;
    top:-10;
    right: -10;
    padding: 30px 30px;

  }
  #profileDisplay { display: block; margin:1px ; border-radius: 50%; border: 2px solid #ddd }

 
  .topright {
    position: relative;
    top: 18px;
    right: -170px;
  }
  .zoom img{
    height: 40px; 
    width: 30%;
    transition: 1s;
  }
  .flotte {
    float:left;
    }
  .zoom img:hover{
    height: 70px; 
    width: 40%;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  .position {
    position: relative;
    top: 0px;
    left: -40px;
    right: -10;

 }
 .ul { 
  width: 870px;
  display: block;
  white-space: nowrap;
  font-size: 0;
   overflow: auto; 
 

  }
.li{ 
  width: 200px;
  height: 50px;
  display: inline-block;
 font-size: 16px;
  }
  
  .card-text{
    -webkit-line-clamp: 3;
display:-webkit-box;

-webkit-box-orient: vertical;
overflow: hidden;


  }
  .card-textcard{
-webkit-line-clamp: 3;
display:-webkit-box;
-webkit-box-orient: vertical;
overflow: hidden;

  }
  .detail p:hover{
    white-space: normal;

    height: 200px; 
    width: 200px;
  }
  
  .detail p{
    width: 100%;
    height: 60px; 
    

    transition: 1s;
  }


