
<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Gestion des projets</legend>
<form #getprojetForm="ngForm"(ngSubmit)="onSubmit(getprojetForm)">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" >Nom de projet:</label>  
  <div class="col-md-4">
  <input id="projet-name" required [(ngModel)]="projet.nomProjet" name="projet-name" type="text" placeholder="tapez le nom du projet" class="form-control input-md" >
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Théme :</label>  
  <div class="col-md-4">
  <input id="projet-theme"required [(ngModel)]="projet.theme" name="projet-theme" type="text" placeholder="tapez le théme du projet" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label" >Description générale :</label>  
  <div class="col-md-4">
    <textarea id="projet-description"required [(ngModel)]="projet.description" name="projet-description" type="text" placeholder="tapez une description générale" class="form-control input-md"></textarea>
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Description technique :</label>  
  <div class="col-md-4">
    
  <textarea id="projet-description-thechnique"  required [(ngModel)]="projet.descriptionTechnique" name="projet-description-thechnique" type="text" placeholder="tapez une description technique " class="form-control input-md"></textarea>
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Date début projet :</label>  
  <div class="col-md-4">
    <input  
    name="projet-date-debut"
    placeholder = "Selectionner la date début"
    [(ngModel)]="projet.dateDebut"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
 
  <span class="help-block"></span>  
  </div>  
  <label class="col-md-2 control-label">Date fin projet :</label>  
  <div class="col-md-4">
    <input  
    name="projet-date-fin"
    placeholder = "Selectionner la date fin"
    [(ngModel)]="projet.dateFin"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
 
  <span class="help-block"></span>  
  </div>  
</div>
<label class="col-md-2 control-label">Equipe :</label>
  <div class="col-md-4">
    <select required
     type="text" 
     class="form-control "
      id="field_equipe"
        name="equipe" [(ngModel)]="selectedEquipeId"
        (change)="onChangeEquipe($event)">
      <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
        {{e.nomEquipe}}
      </option>
    </select>
    <p class="help-block"></p>
    </div>
    
<!-- Button -->

    <label class="col-md-4 control-label" for="btn-save"></label>
    <div class="col col-lg-2">
     <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
    </div>
</form>
</fieldset>



	   </div> 
	    



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-employe" >
            <legend class="navbar-brand titre">Liste des projets</legend>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width=20%>Nom</th>
                <th scope="col" width=15%>Théme</th>
                <th scope="col" width=20%>Date Début</th>
                <th scope="col" width=20%>Date Fin</th>
                <th scope="col" width=15%>Equipe</th>
                <th scope="col" width=10%>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let projet of projets | async">
            <tr>
                <td>{{projet.nomProjet}}</td>
                <td>{{projet.theme}}</td>
                <td>{{projet.dateDebut | date :'shortDate'}}</td>
                <td>{{projet.dateFin | date :'shortDate'}}</td>
                <td>{{projet.equipe.nomEquipe}}</td>
                <td>
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="projetDetails(projet.idProjet)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateProjet(projet.idProjet)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteProjet(projet.idProjet)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

