
<hr/>
<hr/>



<!-- LIST -->
<div class=col-md-12 >
    
    <form id="form-list-employe" >
      <div class="col col-md-11">
        <legend class="navbar-brand titre">Liste des projets</legend>
       </div>
       <div class="col col-md-1">
        <a title="ajouter un projet " class="btn btn-default btn-sm "(click)="ajoutProjet()"><i class="fas fa-calendar-plus  fa-2x lime"></i></a> 
      </div>
    
   <!-- <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div>-->
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col" width=20%>Nom</th>
                <th scope="col" width=15%>Théme</th>
                <th scope="col" width=20%>Date Début</th>
                <th scope="col" width=20%>Date Fin</th>
                <th scope="col" width=15%>Equipe</th>
                <th scope="col" width=10%>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-projets-body"  *ngFor="let projet of projets | async">
            <tr>
                <td>{{projet.nomProjet}}</td>
                <td>{{projet.theme}}</td>
                <td>{{projet.dateDebut | date :'shortDate'}}</td>
                <td>{{projet.dateFin | date :'shortDate'}}</td>
                <td>{{projet.equipe.nomEquipe}}</td>
                <td>
                  
                    <a title="les détails du projet" class="btn btn-default btn-sm "(click)="projetDetails(projet.idProjet)"> <i class="glyphicon glyphicon-eye-open text-primary"  ></i> </a> 
                    <a title="modifier le  projet" class="btn btn-default btn-sm "(click)="updateProjet(projet.idProjet)"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a title="supprimer le projet " class="btn btn-default btn-sm " (click)="deleteProjet(projet.idProjet)"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                    
                   
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    
</div>


<br> 

