<hr/>
<hr/>
<!-- FORM  -->	    
	   <div class="col-md-16">	       
     
<fieldset>

<!-- Form Name -->

<legend  class="navbar-brand titre"  > Ajouter un projet</legend>

<form #getprojetForm="ngForm" [formGroup]="exform" (ngSubmit)="onSubmit(getprojetForm)">
<!-- Text input-->

<div class="form-group">
  <label class="col-md-2 control-label" >Nom de projet:</label>  
  <div class="col-md-4">
  <input id="projet-name" formControlName="nom" required [(ngModel)]="projet.nomProjet" name="projet-name" type="text" placeholder="tapez le nom du projet" class="form-control input-md" >
  <small *ngIf="exform.get('nom').invalid && exform.get('nom').touched" class="textdanger">Nom projet est obligatoire</small>
  <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Théme :</label>  
  <div class="col-md-4">
  <input id="projet-theme" formControlName="theme" required [(ngModel)]="projet.theme" name="projet-theme" type="text" placeholder="tapez le théme du projet" class="form-control input-md">
  <small *ngIf="exform.get('theme').invalid && exform.get('theme').touched" class="textdanger">Théme est obligatoire</small>
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label" >Description générale :</label>  
  <div class="col-md-4">
    <textarea  id="projet-description" formControlName="descriptionG" required [(ngModel)]="projet.description" name="projet-description" type="text" placeholder="tapez une description générale" class="form-control input-md"></textarea>
    <small *ngIf="exform.get('descriptionG').invalid && exform.get('descriptionG').touched" class="textdanger">Description générale est obligatoire</small>
    <span class="help-block"></span>  
  </div>
  <label class="col-md-2 control-label" >Description technique :</label>  
  <div class="col-md-4">
  <textarea id="projet-description-thechnique"  formControlName="descriptionT" required [(ngModel)]="projet.descriptionTechnique" name="projet-description-thechnique" type="text" placeholder="tapez une description technique " class="form-control input-md"></textarea>
  <small *ngIf="exform.get('descriptionT').invalid && exform.get('descriptionT').touched" class="textdanger">Description technique est obligatoire</small>
  <span class="help-block"></span>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Date début projet :</label>  
  <div class="col-md-4">
    <input formControlName="dateDebut"
    name="projet-date-debut"
    placeholder = "Selectionner la date début"
    [(ngModel)]="projet.dateDebut"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <small *ngIf="exform.get('dateDebut').invalid && exform.get('dateDebut').touched" class="textdanger">Date début projet est obligatoire</small>
  <span class="help-block"></span>  
  </div>  
  <label class="col-md-2 control-label">Date fin projet :</label>  
  <div class="col-md-4">
    <input  formControlName="dateFin"
    name="projet-date-fin"
    placeholder = "Selectionner la date fin"
    [(ngModel)]="projet.dateFin"
    autocomplete="off" 
    class="form-control"
    bsDatepicker
    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <small *ngIf="exform.get('dateFin').invalid && exform.get('dateFin').touched" class="textdanger">Date fin projet  est obligatoire</small>
  <span class="help-block"></span>  
  </div>  
</div>
<div class="form-group">
<label class="col-md-2 control-label">Equipe :</label>
  <div class="col-md-4">
    <select required
    disabled
     type="text" 
     class="form-control "
      id="field_equipe"
        name="equipe" [(ngModel)]="selectedEquipeId"
        (change)="onChangeEquipe($event)">
      <option  *ngFor="let e of equipeArray" [value]="e.idEquipe">
        {{e.nomEquipe}}
      </option>
    </select>
    <p class="help-block "></p>
    </div>
</div>
    
<!-- Button -->
<div  class="form-group">
    <label class="col-md-2 control-label" for="btn-save"></label>
    <div class="col-md-3">
      <button id="btn-retour" name="btn-retour" (click)="gotoList()" class="btn btn-success">Retour au liste des projets</button>
    </div>

    <div class="col-md-0">
      <button id="btn-save" name="btn-save" type="submit" class="btn btn-success">Enregistrer</button>
     </div>
</div>
</form>
</fieldset>



	   </div> 
     <simple-notifications></simple-notifications>
